
.card {
    padding: 20px;
    width: 30vmin;
    height: 50vmin;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    color: rgb(50, 225, 217); 
    font-size: 10px;
}

.MovieContent {
    background-color: rgba(0, 0, 0, 0.886); /* Semi-transparent black background */
    padding: 10px;

    box-sizing: border-box;
    display: flex;

}